<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" requireReinstallation="True" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net40" />
</packages>